In [30]:
import pandas as pd
import numpy as np

In [31]:
df = pd.read_csv("2_cars2.csv")
df.head()

,Unnamed: 0,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,0,45654403.0,13328.0,1399,LEXUS,RX 450,2010.0,Jeep,NaN,Hybrid,3.5,186005 km,6.0,Automatic,4x4,04-May,Left wheel,Silver,12.0
1,1,44731507.0,16621.0,1018,CHEVROLET,Equinox,2011.0,NaN,No,Petrol,3,192000 km,6.0,Tiptronic,4x4,04-May,Left wheel,Black,8.0
2,2,45774419.0,8467.0,-,HONDA,FIT,2006.0,Hatchback,No,Petrol,1.3,200000 km,4.0,Variator,Front,04-May,Right-hand drive,Black,2.0
3,3,45769185.0,3607.0,862,FORD,Escape,2011.0,Jeep,Yes,Hybrid,2.5,168966 km,4.0,Automatic,4x4,04-May,Left wheel,White,0.0
4,4,45809263.0,11726.0,446,HONDA,FIT,2014.0,Hatchback,Yes,Petrol,1.3,91901 km,4.0,Automatic,NaN,04-May,Left wheel,Silver,4.0

In [32]:
df.shape

(19237, 19)

In [33]:
df.columns

Index(['Unnamed: 0', 'ID', 'Price', 'Levy', 'Manufacturer', 'Model',
       'Prod. year', 'Category', 'Leather interior', 'Fuel type',
       'Engine volume', 'Mileage', 'Cylinders', 'Gear box type',
       'Drive wheels', 'Doors', 'Wheel', 'Color', 'Airbags'],
      dtype='object')

In [34]:
df.dtypes

Unnamed: 0            int64
ID                  float64
Price               float64
Levy                 object
Manufacturer         object
Model                object
Prod. year          float64
Category             object
Leather interior     object
Fuel type            object
Engine volume        object
Mileage              object
Cylinders           float64
Gear box type        object
Drive wheels         object
Doors                object
Wheel                object
Color                object
Airbags             float64
dtype: object

In [35]:
df.isnull().sum()

Unnamed: 0             0
ID                   945
Price                902
Levy                 926
Manufacturer         964
Model                939
Prod. year          1023
Category             969
Leather interior     911
Fuel type           1038
Engine volume        951
Mileage              966
Cylinders           1008
Gear box type        962
Drive wheels         930
Doors                952
Wheel                976
Color                951
Airbags             1000
dtype: int64

In [36]:
df.describe()

,Unnamed: 0,ID,Price,Prod. year,Cylinders,Airbags
count,19237.0000,1.829200e+04,1.833500e+04,18214.00000,18229.000000,18237.000000
mean,9618.0000,4.557732e+07,1.864609e+04,2010.93225,4.583411,6.592148
std,5553.3879,9.300309e+05,1.950731e+05,5.62816,1.199316,4.320704
min,0.0000,2.074688e+07,1.000000e+00,1939.00000,1.000000,0.000000
25%,4809.0000,4.569797e+07,5.331000e+03,2009.00000,4.000000,4.000000
50%,9618.0000,4.577217e+07,1.317200e+04,2012.00000,4.000000,6.000000
75%,14427.0000,4.580203e+07,2.226600e+04,2015.00000,4.000000,12.000000
max,19236.0000,4.581665e+07,2.630750e+07,2020.00000,16.000000,16.000000

In [37]:
df.dtypes

Unnamed: 0            int64
ID                  float64
Price               float64
Levy                 object
Manufacturer         object
Model                object
Prod. year          float64
Category             object
Leather interior     object
Fuel type            object
Engine volume        object
Mileage              object
Cylinders           float64
Gear box type        object
Drive wheels         object
Doors                object
Wheel                object
Color                object
Airbags             float64
dtype: object

In [38]:
for column in df.columns:
    if df[column].dtype == 'object':
        unique = df[column].nunique()
        print(unique)

545
65
1541
11
2
7
106
7391
4
3
3
2
16

In [39]:
df.isnull().sum()

Unnamed: 0             0
ID                   945
Price                902
Levy                 926
Manufacturer         964
Model                939
Prod. year          1023
Category             969
Leather interior     911
Fuel type           1038
Engine volume        951
Mileage              966
Cylinders           1008
Gear box type        962
Drive wheels         930
Doors                952
Wheel                976
Color                951
Airbags             1000
dtype: int64

In [40]:
df.duplicated().sum()

0

# Task:2

In [41]:
df["Price"].mean()

18646.089391873466

In [27]:
df["Mileage"].mode()

0    0 km
dtype: object

In [42]:
df["Manufacturer"].value_counts().head(5)

HYUNDAI          3580
TOYOTA           3489
MERCEDES-BENZ    1979
FORD             1050
CHEVROLET        1003
Name: Manufacturer, dtype: int64

In [45]:
df["Model"].nunique()

1541

In [48]:
df.sort_values(by="Price", ascending=True,inplace=True)

In [49]:
df.head()

,Unnamed: 0,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
16992,16992,45772201.0,1.0,1202,CHEVROLET,Lacetti,2006.0,Hatchback,No,Petrol,1.6,200000 km,4.0,Manual,Front,04-May,Left wheel,Black,2.0
7815,7815,45765530.0,1.0,-,OPEL,Astra,1999.0,Sedan,Yes,Petrol,1.6,122231 km,NaN,Manual,Front,04-May,Left wheel,Silver,4.0
11636,11636,45470589.0,3.0,-,MERCEDES-BENZ,C 220,1998.0,Sedan,No,Diesel,2.2,20600 km,4.0,Manual,Rear,04-May,Left wheel,Black,2.0
221,221,45612423.0,3.0,-,HYUNDAI,Elantra,2011.0,Sedan,Yes,Petrol,1.8,80000 km,4.0,Tiptronic,Front,04-May,NaN,Grey,6.0
17596,17596,45776620.0,3.0,NaN,HYUNDAI,Sonata,2011.0,Sedan,Yes,Petrol,2.4,106422 km,4.0,Tiptronic,NaN,04-May,Left wheel,NaN,6.0

In [53]:
df[df['Mileage'] > "2000km"]

,Unnamed: 0,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
11636,11636,45470589.0,3.0,-,MERCEDES-BENZ,C 220,1998.0,Sedan,No,Diesel,2.2,20600 km,4.0,Manual,Rear,04-May,Left wheel,Black,2.0
221,221,45612423.0,3.0,-,HYUNDAI,Elantra,2011.0,Sedan,Yes,Petrol,1.8,80000 km,4.0,Tiptronic,Front,04-May,NaN,Grey,6.0
15347,15347,45761457.0,3.0,-,BMW,525,1995.0,Sedan,No,Petrol,2.8,2147483647 km,6.0,Manual,Rear,04-May,Left wheel,NaN,NaN
753,753,45776614.0,3.0,-,NISSAN,X-Terra,NaN,Jeep,No,Petrol,NaN,323200 km,6.0,Automatic,4x4,04-May,Left wheel,Black,2.0
10885,10885,NaN,3.0,-,CHEVROLET,Cruze,2018.0,Sedan,No,Petrol,1.4,61000 km,4.0,Tiptronic,Front,04-May,Left wheel,Grey,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19005,19005,45744802.0,NaN,790,DAEWOO,Lacetti,2009.0,Sedan,Yes,Petrol,1.6,50549 km,4.0,Automatic,Front,04-May,Left wheel,Silver,4.0
19077,19077,45816558.0,NaN,1017,HYUNDAI,Elantra,2017.0,Sedan,Yes,Petrol,2,84792 km,4.0,Automatic,Front,04-May,NaN,Black,12.0
19169,19169,45550699.0,NaN,475,FIAT,500,2012.0,Sedan,Yes,Petrol,1.4,88000 km,4.0,Tiptronic,Front,02-Mar,Left wheel,Black,6.0
19226,19226,45796788.0,NaN,-,NISSAN,Skyline,2003.0,Sedan,NaN,Petrol,3,220000 km,6.0,Tiptronic,Rear,04-May,Right-hand drive,White,0.0
19230,19230,45760891.0,NaN,645,TOYOTA,Prius,2011.0,Hatchback,Yes,Hybrid,1.8,307325 km,4.0,Automatic,Front,04-May,Left wheel,Silver,12.0

In [55]:
av = df.groupby('Manufacturer')['Price'].mean()
av.head()

Manufacturer
ACURA             6000.076923
ALFA ROMEO        9890.250000
ASTON MARTIN     54000.000000
AUDI             13997.736842
BENTLEY         197574.500000
Name: Price, dtype: float64

In [62]:
av.idxmax()

'BENTLEY'

# Task:4

In [64]:
df['Car Age'] = pd.to_datetime('now').year - df['Prod. year']

In [ ]:
mileage_bins = [0, 50000, 100000, float('inf')]
mileage_labels = ['Low Mileage', 'Medium Mileage', 'High Mileage']

df['Mileage Category'] = pd.cut(df['Mileage'], bins=mileage_bins, labels=mileage_labels)

In [71]:
df['Fuel type'] = pd.to_numeric(df['Fuel type'], errors='coerce')

df['Fuel Efficiency'] = df['Mileage'] / df['Fuel type']

In [72]:
df.head()

,Unnamed: 0,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,...,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags,Car Age,Fuel Efficiency
16992,16992,45772201.0,1.0,1202,CHEVROLET,Lacetti,2006.0,Hatchback,No,NaN,...,200000 km,4.0,Manual,Front,04-May,Left wheel,Black,2.0,17.0,NaN
7815,7815,45765530.0,1.0,-,OPEL,Astra,1999.0,Sedan,Yes,NaN,...,122231 km,NaN,Manual,Front,04-May,Left wheel,Silver,4.0,24.0,NaN
11636,11636,45470589.0,3.0,-,MERCEDES-BENZ,C 220,1998.0,Sedan,No,NaN,...,20600 km,4.0,Manual,Rear,04-May,Left wheel,Black,2.0,25.0,NaN
221,221,45612423.0,3.0,-,HYUNDAI,Elantra,2011.0,Sedan,Yes,NaN,...,80000 km,4.0,Tiptronic,Front,04-May,NaN,Grey,6.0,12.0,NaN
17596,17596,45776620.0,3.0,NaN,HYUNDAI,Sonata,2011.0,Sedan,Yes,NaN,...,106422 km,4.0,Tiptronic,NaN,04-May,Left wheel,NaN,6.0,12.0,NaN

In [75]:
df['Luxury Car'] = (df['Leather interior'] == 'Yes') & (df['Airbags'] > 0)
df.head()

,Unnamed: 0,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,...,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags,Car Age,Fuel Efficiency,Luxury Car
16992,16992,45772201.0,1.0,1202,CHEVROLET,Lacetti,2006.0,Hatchback,No,NaN,...,4.0,Manual,Front,04-May,Left wheel,Black,2.0,17.0,NaN,False
7815,7815,45765530.0,1.0,-,OPEL,Astra,1999.0,Sedan,Yes,NaN,...,NaN,Manual,Front,04-May,Left wheel,Silver,4.0,24.0,NaN,True
11636,11636,45470589.0,3.0,-,MERCEDES-BENZ,C 220,1998.0,Sedan,No,NaN,...,4.0,Manual,Rear,04-May,Left wheel,Black,2.0,25.0,NaN,False
221,221,45612423.0,3.0,-,HYUNDAI,Elantra,2011.0,Sedan,Yes,NaN,...,4.0,Tiptronic,Front,04-May,NaN,Grey,6.0,12.0,NaN,True
17596,17596,45776620.0,3.0,NaN,HYUNDAI,Sonata,2011.0,Sedan,Yes,NaN,...,4.0,Tiptronic,NaN,04-May,Left wheel,NaN,6.0,12.0,NaN,True

In [ ]:
bins = [0, 1.5, 3.0, float('inf')]
labels = ['Small', 'Medium', 'Large']

df['Engine Volume Category'] = pd.cut(df['Engine volume'], bins=bins, labels=labels)

In [77]:
color_popularity = df['Color'].value_counts(normalize=True)
df['Color Popularity'] = df['Color'].map(color_popularity)

In [78]:
df.head()

,Unnamed: 0,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,...,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags,Car Age,Fuel Efficiency,Luxury Car,Color Popularity
16992,16992,45772201.0,1.0,1202,CHEVROLET,Lacetti,2006.0,Hatchback,No,NaN,...,Manual,Front,04-May,Left wheel,Black,2.0,17.0,NaN,False,0.262824
7815,7815,45765530.0,1.0,-,OPEL,Astra,1999.0,Sedan,Yes,NaN,...,Manual,Front,04-May,Left wheel,Silver,4.0,24.0,NaN,True,0.195559
11636,11636,45470589.0,3.0,-,MERCEDES-BENZ,C 220,1998.0,Sedan,No,NaN,...,Manual,Rear,04-May,Left wheel,Black,2.0,25.0,NaN,False,0.262824
221,221,45612423.0,3.0,-,HYUNDAI,Elantra,2011.0,Sedan,Yes,NaN,...,Tiptronic,Front,04-May,NaN,Grey,6.0,12.0,NaN,True,0.124084
17596,17596,45776620.0,3.0,NaN,HYUNDAI,Sonata,2011.0,Sedan,Yes,NaN,...,Tiptronic,NaN,04-May,Left wheel,NaN,6.0,12.0,NaN,True,NaN

In [79]:
market_share = df['Manufacturer'].value_counts(normalize=True)
df['Market Share'] = df['Manufacturer'].map(market_share)

In [80]:
df.head()

,Unnamed: 0,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,...,Drive wheels,Doors,Wheel,Color,Airbags,Car Age,Fuel Efficiency,Luxury Car,Color Popularity,Market Share
16992,16992,45772201.0,1.0,1202,CHEVROLET,Lacetti,2006.0,Hatchback,No,NaN,...,Front,04-May,Left wheel,Black,2.0,17.0,NaN,False,0.262824,0.054890
7815,7815,45765530.0,1.0,-,OPEL,Astra,1999.0,Sedan,Yes,NaN,...,Front,04-May,Left wheel,Silver,4.0,24.0,NaN,True,0.195559,0.020905
11636,11636,45470589.0,3.0,-,MERCEDES-BENZ,C 220,1998.0,Sedan,No,NaN,...,Rear,04-May,Left wheel,Black,2.0,25.0,NaN,False,0.262824,0.108302
221,221,45612423.0,3.0,-,HYUNDAI,Elantra,2011.0,Sedan,Yes,NaN,...,Front,04-May,NaN,Grey,6.0,12.0,NaN,True,0.124084,0.195917
17596,17596,45776620.0,3.0,NaN,HYUNDAI,Sonata,2011.0,Sedan,Yes,NaN,...,NaN,04-May,Left wheel,NaN,6.0,12.0,NaN,True,NaN,0.195917